* {
  margin: 0;
  padding: 0;
  border-radius: 0;
}
body {
  background: #b6e3a9;
  overflow-x: hidden;
  overflow-y: hidden;
}

.c {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
